.container {
  background-color: rgb(235, 235, 235);
  width: 500px;
  height: 500px;
  margin: 40px 0 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border-radius: 25px;
  width: 480px;
  height: 480px;
  margin-top: 10px;
  background-color: white;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1)
}

.header {
  display: inline-block;
  width: 100%;
  height: 120px;
}

.team1Logo, .team2Logo {
  height: 70px;
  width: 70px;
  display: inline-block;
}

.team1Logo {
  margin-left: 14px;
  margin-top: 14px;
}
.team2Logo {
  float: right;
  margin-right: 14px;
  margin-top: 14px;
}

.records, .national-championships,
  .conference-championships, .bowl-games,
    .wins-alltime {
  height: 60px;
}

#dotted-line {
  border-bottom: dashed 1px #c3c3c3;
  width: 95%;
  margin: 0 auto;
} 